.card{
    width:13.5rem;
    height:18.5rem;
    border:2px solid #fff;
    background-color: #fff;
    margin:1rem;
    box-sizing: border-box;
    // box-shadow: -3px 10px 10px 1px #333;
    border-radius: 7px;
    img{
        border-radius: 7px ;
        height:75%;
        width:100%;
    }
    h3{
        color:rgb(0, 0, 0);
        text-align: center;
    }
    p{
        font-family: Helvetica Rounded;
        text-align: center;
        margin-bottom: 0;
        

    }
}